<div ng-controller="TaskController">
        Create a Task:<br>
		ID:<br>
        <input type="number" ng-model="idView" /><br>
		Title:<br>
		<input  type="text" ng-model="titleView"  /><br>
		Description:<br>
		<input  type="text" ng-model="descView"  /><br>
        <button ng-click="saveTask()">Create!</button><br>
        <div>Answer: {{answer}}</div>
		
  
	<!--------------------------------------List Tasks---------------------------->
	
	
	

  <ul>
    <li ng:repeat="taskItem in tasksList">
       <a href="#/task/{{taskItem.ID}}">{{taskItem.Title}}</a>
    </li>
  </ul>


<!--------------------------------------------End List Tasks----------------------->
</div>​